@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font: "Inter", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;

$paper: #fffaf0;
$ink: #1f2036;

* {
    box-sizing: border-box;
}

html {overflow-y: scroll;}
  
html, body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: 100%/1em $font;
    font-size: 16px;
    margin: 0;
    background-color: $ink;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
    @media (max-width: 480px) {
        font-size: 14px;
    }
}

p {margin: 0;}

svg:not(:root) {
    overflow: hidden;
}

h1,h2,h3 {
    margin: 0;
    font-size: inherit;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
h1 { font-size: 3rem; line-height: 3rem;}
h2 { font-size: 2.4rem; line-height: 2.4rem;}
h3 { font-size: 1.6rem; line-height: 1.6rem;}

.layout {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px; /* MUST BE SAME AS FOOTER HEIGHT */
}

.container {
    width: 1440px;
    min-width: 1440x;
    margin: auto;
    @media(max-width: 1440px) {
        width: 1280px;
        min-width: 1280px;
    } 
    @media(max-width: 1280px) {
        width: 976px;
        min-width: 976px;
    } 
    @media(max-width: 976px) {
        width: 768px;
        min-width: 768px;
    }
    @media(max-width: 768px) {
        width: 100vw;
        min-width: 100vw;
    }
}

.light {
    background-color: $paper;
    color: $ink;
}

.dark {
    background-color: $ink;
    color: $paper;
}

.thin {
    letter-spacing: .5px;
    font-weight: normal;
}

.row {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

a {
    color: inherit;
    text-decoration: none;
    outline-width: 0;
    &.button {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        padding: 20px 20px;
        transition-duration: .25s; 
    }
    &.light {
        &:hover, &:focus {
            background-color: $ink;
            color: $paper;
        }
    }
    &.dark {
        &:hover, &:focus {
            background-color: $paper;
            color: $ink;
        }
    }
}

b, strong {
    font-weight: bolder;
}

header {
    width: 100%;
    position: relative;
    top: 0px;
    z-index: 10;
    .row {
        @media (max-width: 404px) {
            justify-content: center;
            .navigation {display: none;}
        }
        .logo {
            .button {
                font-size: 1.6rem;
                font-weight: bold;
                padding: 30px 20px;
            }
        }
        .navigation {
            nav {
                .button {
                    padding: 30px 20px;
                    text-transform: lowercase;
                }
            }
        }
    }
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    display: flex;
    height: 200px;
    //background: red !important;
    .row{
        margin: 50px 0;
        .icon {
            margin: 0 auto;
            a {
                font-size: 2.4rem;
                font-weight: bold;
            }
        }
        .copyright {
            margin: 0 20px;
        }
        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-transform: lowercase;
                }
            }
        }
        @media (max-width: 480px) {
            justify-content: center;
            .copyright {display: none;}
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 60px 10%;
    .subheading{
        font-size: 3rem;
        z-index: 9;
        margin-bottom: 24px;
        font-weight: bold;
        align-self: flex-start;
    }
    .row {
        margin: 16px 0;
        .main-text{
            line-height: 1.7em;
            text-align: justify;
            z-index: 8;
            p {
                margin-bottom: 10px;
            }
            @media (max-width: 480px) {
                text-align: left;
            }
        }
    }
}

.banner {
    padding-top: 14px;
    padding-bottom: 0px;
    min-height: calc(100vh - 76px);
    justify-content: space-evenly;
    .row {
        margin: 0;
        .main-text{
            width: 600px;
            margin-bottom: 24px;
        }
    }
}

.projects {
    .row {flex-wrap: wrap;}
    padding-bottom: 0;
}

.about {
    .main-image {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .image-wrapper {
        width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
        @media(max-width: 976px) {width: 800px;}
    }
}

.project {
    display: flex;
    margin-bottom: 24px;
    margin-right: 20px;
    width: 492px;
    height: 200px;
    &:hover {
        .duotone{ opacity: 0;} 
        .hover-underline-animation:after{
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
    .thumbnail {
        position: relative;
        display: flex;
        margin-right: 16px;
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        overflow: hidden;
    }
    .duotone, .image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        margin-top: -50%;
    } 
    .duotone {
        z-index: 8;
        transform: scale(1.02);
        transition: opacity 0.25s ease-in-out;
    }
    .image {
        position: absolute;
        z-index: 0;
    }
    .content {
        padding-top: 16px;
        text-align: left;
        overflow-y: auto;
        p {line-height: 1.3rem;}
        h3 {font-weight: bold; font-size: 1.6rem; margin-bottom: 16px;}
    }
    @media (max-width: 1280px) {width: 100%;}
    @media (max-width: 480px) {
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 24px;
        .content {h3 {margin-bottom: 8px;}}
        .thumbnail {width: 100%;}
    }
}

// credit to 30secondsofcode.org for the hover animation
// citation: https://www.30secondsofcode.org/css/s/hover-underline-animation
.hover-underline-animation {
    display: inline-block;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -8px;
        left: 0;
        background-color: $paper;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
}

.project-page {
    line-height: 1.7em;

    .subheading {
        margin-top: 24px;
    }
    
    .banner-image {
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
        margin-bottom: 16px;
    }
    .banner-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        margin-top: -50%;
    }

    p {
        margin-bottom: 10px;
        letter-spacing: .5px;
        text-align: justify;
        @media (max-width: 480px) {
            text-align: left;
        }
    }

    h2, h3 {padding-top: 8px; margin-bottom: 8px}

    hr {margin: 24px 0;}

    &.light {
        a {
            &:hover, &:focus {
                background-color: $ink;
                color: $paper;
            }
        }
    }

    &.dark { 
        a {
            &:hover, &:focus {
                background-color: $paper;
                color: $ink;
            }
        }
    }

}