---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import headshot from "../assets/dithered_portrait.png";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<Layout title={`About Me - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <ul class="w-full pb-6 flex space-x-2">
    <li>
      <a
        href="/"
        class="underline decoration-neutral-300 underline-offset-4 hover:decoration-current"
        >INDEX</a
      >
    </li>
    <span>&#8594</span>
    <li>
      <h1 class="uppercase">About</h1>
    </li>
  </ul>
  <hr class="h-px bg-black border-0 mb-6" />
  <div class="flex flex-wrap mt-12 mb-6">
    <div class="w-full lg:w-2/5">
      <div class="pb-6 flex justify-between">
        <Image class="w-full" src={headshot} alt="" />
      </div>
    </div>
    <div class="flex-1 lg:ml-6 space-y-6">
      <h2>HIWE</h2>
    </div>
  </div>
</Layout>
